<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>订购套餐</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/js/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/js/Select2/select2.min.css">
    <link rel="stylesheet" href="../../common/css/accordion.css">
    <link rel="stylesheet" href="../../static/css/common.css">

    <script src="../../common/js/jquery-3.1.1.min.js"></script>
    <script src="../../common/js/bootstrap.min.js"></script>
    <script src="../../common/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../../common/js/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="../../common/js/knockout/knockout.min.js"></script>
    <script src="../../common/js/knockout/knockout.mapping.js"></script>
    <script src="../../common/js/knockout/knockout.bootstraptable.js"></script>
    <script src="../../static/js/Department.js"></script>
    <script src="../../common/js/layer/layer.js"></script>
    <script src="../../common/js/My97DatePicker/WdatePicker.js"></script>
    <script src="../../common/js/artTemplate.js"></script>
    <script src="../../common/js/qrcode.js"></script>
    <script src="../../common/js/Select2/select2.min.js"></script>
</head>


<body>
<!--中间部分start!-->
<div class="main-box">
    <div class="msgWrap form">
        <div class="card-group clearfix">
            <div class="form-group">
                <label for="accessNumber">卡号:</label>
                <input id="accessNumber" class="form-control" name="accessNumber" type="text"/>
            </div>
            <div class="form-group">
                <label for="Serial_number">流水号:</label>
                <input id="Serial_number" class="form-control" name="Serial_number" type="text"/>
            </div>
            <div class="form-group">
                <label for="status">结果:</label>
                <select name="status" id="status">
                    <option class="status" selected="selected" value="">未选择</option>
                    <option class="status" value="1">失败</option>
                    <option class="status" value="2">成功</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date_begin" class="span_title" title="时间">时间：</label>
                <input id="date_begin" class="Wdate form-control" name="starttime" type="text"
                       onFocus="var date_begin=$dp.$('date_end');
                                   WdatePicker({onpicked:function(){date_end.focus();},
                                   maxDate:'#F{$dp.$D(\'date_end\')}'})"/>
                <label for="date_end"
                       style="display:-moz-inline-box;display:inline-block;width: 8px;text-align:right;">~</label>
                <input id="date_end" class="Wdate form-control" name="endtime" type="text"
                       onFocus="WdatePicker({minDate:'#F{$dp.$D(\'date_begin\')}'})"/>
            </div>
            <div class="form-group">
                <label for="source">来源:</label>
                <input id="source" class="form-control" name="source" type="text"/>
                <button class="btn btn-primary btn-sm keydownBtn" id="Sec" title="搜索">搜索</button>
            </div>
        </div>
        <div id="toolbar">
            <label for="service_type">套餐:</label>
            <select name="service_type" id="service_type" data-bind="value:service_type">
                <option class="service_type" selected="selected" value="">请选择订购套餐</option>

            </select>
            <label class="pay_label" id="first_pay_label">支付类型:</label>
            <input type="radio" name="kind" data-bind="1" value="1" id="amount" checked="checked">
            <label class="pay_label" for="amount">余额支付</label>
            <input type="radio" name="kind" data-bind="2" value="2" id="wx">
            <label class="pay_label" for="wx">微信支付</label>
            <button class="btn btn-info btn-sm " id="orderPackage" title="订购">订购</button>
            <button class="btn btn-primary btn-sm " id="orderPackageMore" title="批量订购">批量订购</button>
        </div>
        <table id="tb_dept" data-bind="myBootstrapTable:$root">
        </table>
    </div>

</div>
<div class="box hidden">
    <div class="box-title">
        <img src="../../static/img/WePayLogo.png" alt="">
        <div class="order">
            总金额：
            <span>￥</span>
            <span class="price"></span>
        </div>
    </div>
    <div class="erweima" id="erweima">
    </div>
    <div class="info"><img src="../../static/img/info.png" alt=""></div>
</div>
</body>
<script id="parent" type="text/html">
    <option value="{{id}},{{price}}">
        {{name}}
        【 {{if card_type == 1}}普通卡{{/if}}
        {{if card_type == 2}}池卡{{/if}}
        {{if card_type == 3}}空卡{{/if}}
        {{if card_type == 4}}行业卡{{/if}} ·
        {{if type == 1}}月包{{/if}}
        {{if type == 2}}季包{{/if}}
        {{if type == 3}}年包{{/if}}
        {{if type == 4}}基本套餐{{/if}}
        {{if type == 5}}半年包{{/if}}
        】
    </option>
</script>
<script type="text/javascript">
    var pid,
        cardid = getUrlParam("cardid"),
        orderID = getUrlParam("orderID"),
        pname = getUrlParam("pname");
    //加载table数据
    var qrcode = new QRCode('erweima');
    $("#accessNumber").val(cardid);
    $("#source").val(orderID);

    //加载套餐类型
    function package() {
        var service_type = $("#service_type");
        $('.service_type~option').remove();
        $post(urlPrefix + '?r=ems/business/main/get-all-package',
            {card: cardid},
            function (res) {
                $.each(res.data, function (i, data) {
                    var parent;
                    parent = $(template('parent', data));
                    parent.appendTo(service_type);
                });
                $("#service_type").select2();
            });
    }
    function wxPay(data) {
        var index = layer.load(2,  {
            shade: [0.1, '#fff'] //0.1透明度的白色背景
        });
        $post(urlPrefix + '?r=ems/business/main/order-by-wechat',
            data,
            function (res) {
                layer.closeAll();
                if(res.code==0){
                    layer.msg(res.msg,{time:2000});
                    return
                }
                $('.box').removeClass('hidden');
                qrcode.makeCode(res[0].code_url);
                $(".price").text(res[1]);
                layer.open({
                    title: ['', 'font-size:14px;text-align:center;padding:0px;background:#eee;height:0;'],
                    type: 1,
                    anim: 2,
                    area: ['260px'],
                    closeBtn: 0,
                    shadeClose: true,
                    end: function (layero, index) {
                        $('.box').addClass('hidden');
                        loadData({card: cardid}, true)
                    },
                    content: $('.box')
                });
            }
        )
    }
    function loadData(data, flag) {
        setTimeout(function () {
            $post(urlPrefix + "?r=ems/business/main/get-all-addpackage",
                data,
                function (res) {
                    if (res.code == 1) {
                        tableInit.myViewModel.load(res.data);
                    }
                    if (!flag) {
                        layer.msg(res.msg, {time: 2000})
                    }
                });
        }, 1000)
    }

    if (cardid) {
        package();
    }

    var operate = {
        //初始化按钮事件
        operateInit: function () {
            this.Sec();
            this.data();
            this.export();
            this.orderPackage();
            this.orderPackageMore();
            this.DepartmentModel = {
                uid: ko.observable(),
                name: ko.observable(),
                ID: ko.observable(),
                number: ko.observable()
            };
        },
        //搜索
        data: function () {
            cardid = $.trim($("#accessNumber").val());
            var Serial_number = $.trim($("#Serial_number").val()),
                status = $("#status").val(),
                date_begin = $.trim($("#date_begin").val()),
                date_end = $.trim($("#date_end").val()),
                source = $.trim($("#source").val());

            data = {
                card: cardid, Serial_number: Serial_number, status: status,
                starttime: date_begin, endtime: date_end,  source: source,
                pageSize: 10, pageNumber: 1
            };
        },
        Sec: function () {
            $('#Sec').on('click', function () {
                operate.data();
                package();
                loadData(data)
            })
        },
        export: function () {
            $('#export').on('click', function () {
                operate.data();
                $post(urlPrefix + "?r=ems/business/main/get-all-package",
                    data,
                    function (res) {
                        layer.msg(res.msg)
                    });
            })
        },
        orderPackageMore: function () {
            $('#orderPackageMore').on('click', function () {
                layer_open("批量订购", 'orderPackageMore.html')
            })
        },
        //订购
//        cardid: iccid或tel
//        packageid：套餐id
//    type：订购/退购 1订购 0退购
//    source： 来源
//    remark： 备注
        orderPackage: function () {
            $('#orderPackage').on('click', function () {
                var index = layer.load(2,  {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                var value = $("#service_type").val().split(","),
                    data = {},packageid =value[0],price =value[1];
                var cardid = $.trim($("#accessNumber").val());
                var kind = $('input[name="kind"]:checked').data('bind');
                if (!cardid) {
                    layer.msg('请输入卡号', {time: 2000});
                    layer.close(index);
                    return false
                }
                if (!packageid) {
                    layer.msg('请选择套餐', {time: 2000});
                    layer.close(index);
                    return false
                }
                if (!kind) {
                    layer.msg('支付类型');
                    This.removeClass('disabled');
                    layer.close(index);
                    flag = 1;
                    return false
                }
                data = {
                    card: cardid, packageid: packageid
                };
                if(kind==1){
                    $post(urlPrefix + '?r=ems/business/main/order', data, function (res) {
                        if (res.code == 1) {
                            layer.closeAll();
                            parent.$("#rechargeStatus").val(1);
                            layer.msg(res.msg,
                                {time: 2000});
                            loadData({card: cardid}, true)
                        } else if(res.msg!='账户余额不足'){
                            layer.close(index);
                            layer.msg(res.msg,{time: 2000});
                        }else{
                            layer.close(index);
                            layer.confirm('余额不足，请用微信支付！', {
                                btn: ['确定', '取消'],
                    			shadeClose: 'true'
                            }, function () {
								layer.closeAll();
                                wxPay(data)
                            })
                        }
                    });
                }else if(kind==2){
                    wxPay(data)
                }
            });
        }
    };
    window.operateEvents = {
        'mouseenter .show': function (e, value, row, index) {
            var that = this;
            layer.tips(row.result, that, {
                tips: 1 //还可配置颜色
            });
        }
    };

    function queryParams(params) {
        operate.data();

        data.pageSize = params.pageSize;
        data.pageNumber = params.pageNumber;
        queryData = data;
        return queryData;
    }

    //初始化
    $(function () {
        //1、初始化表格
        tableInit.Init();

        //2、注册增删改事件
        operate.operateInit();

    });
    //初始化表格
    var tableInit = {

        Init: function () {
            //绑定table的viewmodel
            this.myViewModel = new ko.bootstrapTableViewModel({
                queryParams: queryParams,//传递参数（*）
                search: false,
                method: "post",
                onRefresh: function () {
                    $("#accessNumber").val("");
                    $("#Serial_number").val("");
                    $("#status").val("");
                    $("#date_begin").val("");
                    $("#date_end").val("");
                    $("#provider_name").val("");
                    $("#source").val("");
                },
                url: urlPrefix + '?r=ems/business/main/get-all-addpackage',
                columns: [{
                    field: 'id',
                    title: 'id'
                }, {
                    field: 'card',
                    title: '卡号'
                }, {
                    field: 'package',
                    title: '套餐名称'
                }, {
                    field: 'Serial_number',
                    title: '流水号'
                }, {
                    field: 'source',
                    title: '来源'
                }, {
                    field: 'status',
                    title: '结果',
                    formatter: forStatus
                }, {
                    field: 'result',
                    title: '消息',
                    formatter: forResult,
                    events: operateEvents
                },  {
                    field: 'addtime',
                    title: '操作时间'
                }]
            });

            function forResult(value, row, index) {
                return ['<span class="text-success show" >' + cutstr(row.result, 30) +
                '</span>'].join('');
            }


            function forStatus(value, row, index) {
                if (row.status == 1) {
                    return ['<span class="text-danger" >' + "失败" +
                    '</span>'].join('');
                } else {
                    return ['<span class="text-success" >' + "成功" +
                    '</span>'].join('');
                }
            }

            ko.applyBindings(this.myViewModel, document.getElementById("tb_dept"));

        }

    };

    init: function n(element, valueAccessor, allBindingsAccessor, viewModel) {
        //这里的oParam就是绑定的viewmodel
        var oViewModel = valueAccessor();
        var $ele = $(element).bootstrapTable(oViewModel.params);
        //给viewmodel添加bootstrapTable方法
        oViewModel.bootstrapTable = function () {
            return $ele.bootstrapTable.apply($ele, arguments);
        }
    }

</script>
</html>