/*font-family:Tahoma,Verdana,微软雅黑,新宋体*/
*{font-size:12px;font-family:Tahoma,Verdana,微软雅黑,新宋体, Helvetica, Arial, sans-serif}
a{ color:#444; text-decoration:none;}
a:hover{ text-decoration:none;}
a:active,a:visited{color:#f0ba3f;}
td{padding-right:8px;box-sizing:border-box;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}
.head a{color:White;text-decoration:none;}
.easyui-tree {list-style-type:none;margin:0px; padding:0px;}
.easyui-tree li{ padding:0px;}
.easyui-tree li div{margin:2px 0px;height:24px;padding-left:10px;padding-top:2px;}
.easyui-tree li div:hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-tree li div:hover a{color:#416AA3;text-decoration: none}
.easyui-tree li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-tree li div.selected a{color:#416AA3;text-decoration: none; font-weight:bold;}
.icon{width:18px; line-height:18px; display:inline-block;padding-left:20px;}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{background-color:#999;}
::-webkit-scrollbar-track{background-color:#f8f8f8;}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}
.sec{
    margin: 1px 89px 0 141px;
}
.form-group label{
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}
.form-group input{
    text-indent: 8px;
}
.roll-nav.roll-right.J_tabExit:hover .fa.fa-sign-out.piclogo{
    color: #c00;
}
#topTab .form-group button.excel {
    padding: 0;
}
#topTab .form-group button {
    margin-right: 10px;
}
.form-group{
    height: 30px!important;
}
.form-group input[type="text"]{
    height: 30px !important;
}
.from-groups .form-group,.card-group .form-group{
    margin-bottom: 5px;
}
.from-groups .form-group label{
    width: 60px;
}
.msgWrap .form-group #exportCondition,.msgWrap .form-group #exportCard{
    vertical-align: bottom;
}
.msgWrap .form-group label{
    width:90px;
    white-space: nowrap;
}
.msgWrap .autonym-group .form-group,.card-group .form-group{
    float: left;
}
.msgWrap .autonym-group .form-group:nth-of-type(1) label{
    width: 52px;
}
.msgWrap .autonym-group .form-group:nth-of-type(2) label{
    width: 64px;
}
.msgWrap .autonym-group .form-group:nth-of-type(3) label{
    width: 78px;
}
.msgWrap .autonym-group #secAutonym{
    vertical-align: bottom;
}
.msgWrap .autonym-group .sec_group label:nth-of-type(1){
    width: 36px;
}
.msgWrap .autonym-group .sec_group label:nth-of-type(2){
    width: 30px;
}
input[type=radio]+label{
    width: 35px!important;
    white-space: nowrap;
}
.dyMenu_add .form-group label{
    width: 63px;
}
.keywords_add .form-group label{
    width: 53px;
}
.wxpay_add .form-group label{
    width: 70px;
}
.excel label{
    width: 76px;
}
.card-group .form-group label{
    width: 52px;
}
.card-group .form-group select{
    width: 118px;
    height: 30px;
    line-height: 30px;
}
.account_add .form-group label{
    width: 97px;
}
#rechargeForm label{
    width: 60px;
}

input[type="text"] {
    background-color: #fff;
    width: 150px;
    border: 1px solid #D7D7D7;
    border-radius: 3PX;
    padding: 0 2px;
    line-height: 14PX;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
}
select {
    border: 1px solid #D7D7D7;
    padding: 4px 6px 6px 4px;
    border-radius: 3px;
}
.dropdown-menu{
    width: 133px;
}
#tool_bar span{
    margin-right: 30px;
    font-weight: 700;
}








