@charset "UTF-8"; 

html {
	/* font-size: 0; */
	margin: 0;
	padding: 0
}

body {
	/* background: #fff; */
	color: #666;
}

body, button, input, select, textarea {
	font-size: 14px;
	font-family: "微软雅黑", "Microsoft YaHei"
	/* font-family: 'Arial', "微软雅黑", "Microsoft YaHei" */
}

/* input::-webkit-input-placeholder {
	color: #b3b3b3
} */

ol, ul {
	list-style: none
}

img {
	border: 0
}

a {
	text-decoration: none;
	cursor: pointer;
	/* -moz-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
	text-decoration: none;
	background-color: transparent; &:
	hover {text-decoration: underline */
}

/* outline
:
0
}
input, textarea, button {
	outline: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
} */

a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label,
	legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s,
	samp, section, small, span, strike, strong, sub, summary, sup, table,
	tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: medium none;
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}

.fl {
	float: left
}

.fr {
	float: right
}

.fn {
	float: none
}

.cl {
	clear: left
}

.cr {
	clear: right
}

.cb {
	clear: both
}

.posa {
	position: absolute
}

.posr {
	position: relative
}

.posf {
	position: fixed
}

.poss {
	position: static
}

.mauto {
	margin-left: auto;
	margin-right: auto
}

.none {
	display: none !important;
	visibility: hidden
}

.vis {
	visibility: hidden !important
}

.vh {
	position: absolute;
	clop: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px)
}

.inline-block {
	font-size: 0
}

.inline-block>* {
	font-size: 13px
}

.di, .fl, .inline-float>*, .col-1, .col-2, .col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .fr {
	display: inline
}

.dn {
	display: none
}

.db {
	display: block
}

.dib, .inline-block>* {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.vam, .dib, .inline-block>* {
	vertical-align: middle
}

.vat {
	vertical-align: top
}

.ti {
	text-indent: 2em
}

.tc {
	text-align: center
}

.tl {
	text-align: left
}

.tr {
	text-align: right
}

.tj {
	text-align: justify
}

.toe {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-webkie-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.bold {
	font-weight: 700
}

.unbold {
	font-weight: normal !important
}

.f0 {
	font-size: 0
}

.f12 {
	font-size: 12px
}

.f13 {
	font-size: 13px
}

.f14 {
	font-size: 14px
}

.f16 {
	font-size: 16px
}

.f18 {
	font-size: 18px
}

.f20 {
	font-size: 20px
}

.f24 {
	font-size: 24px
}

.f28 {
	font-size: 28px
}

.f30 {
	font-size: 30px
}

.f32 {
	font-size: 32px
}

.f34 {
	font-size: 34px
}

.f36 {
	font-size: 36px
}

.no-padding {
	padding: 0 !important
}

.no-padding-top {
	padding-top: 0 !important
}

.no-padding-right {
	padding-right: 0 !important
}

.no-padding-bottom {
	padding-bottom: 0 !important
}

.no-padding-left {
	padding-left: 0 !important
}

.no-margin {
	margin: 0 !important
}

.no-margin-top {
	margin-top: 0 !important
}

.no-margin-right {
	margin-right: 0 !important
}

.no-margin-bottom {
	margin-bottom: 0 !important
}

.no-margin-left {
	margin-left: 0 !important
}

.m5 {
	margin: 5px
}

.mt5 {
	margin-top: 5px
}
.mr5 {
	margin-right: 5px
}

.mb5 {
	margin-bottom: 5px
}

.ml5 {
	margin-left: 5px
}

.p5 {
	padding: 5px
}

.pt5 {
	padding-top: 5px
}

.pr5 {
	padding-right: 5px
}

.pb5 {
	padding-bottom: 5px
}

.pl5 {
	padding-left: 5px
}

.m10 {
	margin: 10px
}

.mt10 {
	margin-top: 10px
}

.mr10 {
	margin-right: 10px
}

.mb10 {
	margin-bottom: 10px
}

.ml10 {
	margin-left: 10px
}

.p10 {
	padding: 10px
}

.pt10 {
	padding-top: 10px
}

.pr10 {
	padding-right: 10px
}

.pb10 {
	padding-bottom: 10px
}

.pl10 {
	padding-left: 10px
}

.m15 {
	margin: 15px
}

.mt15 {
	margin-top: 15px
}

.mr15 {
	margin-right: 15px
}

.mb15 {
	margin-bottom: 15px
}

.ml15 {
	margin-left: 15px
}

.p15 {
	padding: 15px
}

.pt15 {
	padding-top: 15px
}

.pr15 {
	padding-right: 15px
}

.pb15 {
	padding-bottom: 15px
}

.pl15 {
	padding-left: 15px
}

.m20 {
	margin: 20px
}

.mt20 {
	margin-top: 20px
}

.mr20 {
	margin-right: 20px
}

.mb20 {
	margin-bottom: 20px
}

.ml20 {
	margin-left: 20px
}

.p20 {
	padding: 20px
}

.pt20 {
	padding-top: 20px
}

.pr20 {
	padding-right: 20px
}

.pb20 {
	padding-bottom: 20px
}

.pl20 {
	padding-left: 20px
}

.m25 {
	margin: 25px
}

.mt25 {
	margin-top: 25px
}

.mr25 {
	margin-right: 25px
}

.mb25 {
	margin-bottom: 25px
}

.ml25 {
	margin-left: 25px
}

.p25 {
	padding: 25px
}

.pt25 {
	padding-top: 25px
}

.pr25 {
	padding-right: 25px
}

.pb25 {
	padding-bottom: 25px
}

.pl25 {
	padding-left: 25px
}

.m30 {
	margin: 30px
}

.mt30 {
	margin-top: 30px
}

.mr30 {
	margin-right: 30px
}

.mb30 {
	margin-bottom: 30px
}

.ml30 {
	margin-left: 30px
}

.p30 {
	padding: 30px
}

.pt30 {
	padding-top: 30px
}

.pr30 {
	padding-right: 30px
}

.pb30 {
	padding-bottom: 30px
}

.pl30 {
	padding-left: 30px
}
.mt40{
	margin-top: 40px;
}
.ml40{
	margin-left: 40px;
}
/* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}*/

.container {
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	overflow: hidden
}

.w100p {
	width: 100%
}

.h100p {
	height: 100%
}

.w50p {
	width: 50%
}

.w33p {
	width: 33.3333333333%
}

.maxwp {
	max-width: 100%
}

.maxhp {
	max-height: 100%
}

.wauto {
	width: auto !important
}

.hauto {
	height: auto !important
}

.of {
	overflow: auto
}

.ofx {
	overflow: hidden;
	overflow-x: auto
}

.ofy {
	overflow: hidden;
	overflow-y: auto
}
.ofh{
	overflow: hidden;
}
.curp {
	cursor: pointer
}

.curd {
	cursor: default
}

.lh20 {
	line-height: 20px
}

.lh25 {
	line-height: 25px
}

.lh30 {
	line-height: 30px
}

.lh35 {
	line-height: 35px
}

.lh40 {
	line-height: 40px
}

.h20 {
	height: 20px
}

.h25 {
	height: 25px
}

.h30 {
	height: 30px
}

.h35 {
	height: 35px
}

.h40 {
	height: 40px
}

.q_w_50 {
	width: 50px;
}

.q_w_60 {
	width: 60px;
}

.q_w_70 {
	width: 70px;
}

.q_w_80 {
	width: 80px;
}

.q_w_90 {
	width: 90px;
}

.q_w_100 {
	width: 100px;
}

.q_w_110 {
	width: 110px;
}

.q_w_120 {
	width: 120px;
}

.q_w_130 {
	width: 130px;
}

.q_w_140 {
	width: 140px;
}

.q_w_150 {
	width: 150px;
}

.q_w_160 {
	width: 160px;
}

.q_w_170 {
	width: 170px;
}

.q_w_180 {
	width: 180px;
}

.q_w_190 {
	width: 190px;
}

.q_w_200 {
	width: 200px;
}

.q_w_210 {
	width: 210px;
}

.q_w_220 {
	width: 220px;
}

.c4d{color: #4d4d4d;}
.cb3{color: #b3b3b3;}
.c70{color: #707070;}