/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
ol li a {
    color: red!important;
}
table a {
    color: #337ab7;
}
textarea{
    border: 1px solid #D7D7D7;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th,td{
    text-align: center;
}
fieldset,img {
    border: 0;
}
ol,ul {
    list-style: none;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}
body {
    font-size: 13px;
    color: #333;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}
* {
    font-size: 12px;
    font-family: Tahoma, Verdana, 微软雅黑, 新宋体, Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{background-color:#999;}
::-webkit-scrollbar-track{background-color:#f8f8f8;}
label{white-space: nowrap}
/*清除浮动*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}

.main-box{
    width: 95%;
    padding-top: 15px;
    margin: 0 2.5% 0 2.5% ;
}
/*上传文件*/
.a-upload {
    padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    top: 12px;
}

.a-upload  input {
    position: absolute;
    width: 118px;
    height: 30px;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.a-upload:hover {
    color: #fff!important;
    background-color: #31b0d5;
    border-color: #269abc;
    text-decoration: none
}
/*返回首页*/
.nav-header{
    cursor: pointer;
}
/*清楚默认btn样式*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}


.wrap{
    width: 100%;
    height: 100%;
}


td,th{
    width: 60px !important;
    line-height: 40px!important;
    white-space: nowrap;
}
.picard{
    font-size: 22px;
    background-size: contain;
    float: left;
    padding-left: 8px;
    margin-top:4px;
    color: #0084cd;
}

textarea{
    resize: none;
    border-radius: 3px;
}
.btn_confirm{
    position: absolute;
    right: 10%;
    bottom: 10px;
}
.btn_group{
    float: left;
    margin-left: 8%;
}
.btn_group button{
    margin: 10px 15px;
}
.table_see{
    width: 100%;
}
.table_wrap,.table tr td,.table tr th{
    text-align: center;
    white-space: nowrap;
    width: 100%;
}


.fixed-table-container{
    margin-top: 10px;
}
.layui-layer-prompt textarea.layui-layer-input {
    line-height: 28px !important;
}
.modal-body{
    margin-left: 95px !important;
}

.modal-header{
    padding-bottom: 0;
}
.fixed-table-container #tb_dept td{
    border-left: none;
    padding: 0 4px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    border: none;
    border-bottom: 1px solid #ddd;
}
#url{
    width: 209px;
}
.bottom_btn{
    margin: 20px 0;
}
.apikey,.status,.api{
    margin: 20px 0 10px 20px;
}
.apikey input,.api input{
    width: 220px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    border-radius: 3px;
}
.status select{
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 0 0 3px;
}
.title_tab{
    margin-left: 20px;
}
.add_btn{
    margin-bottom: 3px;
}
.off {
    color: red;
}
#btnSave {
    float: right;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    color: #333;
    background-color: #fff;
}
.gj-hidden>.gj-tree-bootstrap-list.list-group>.gj-tree-item.list-group-item{
    display: inline-block;
}

textarea#content {
    text-indent: 8px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 3PX;
    padding: 5px 5px;
    line-height: 14PX;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
}

#myModal{
    padding: 0!important;
}
.excel label{
    font-weight: normal!important;
}
.excel{
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 10px;
}
#addAuto .form-group{
    margin-left: 5%;
}
#addAuto .form-group label{
    width: 68px!important;
    vertical-align: bottom;
}
#from-radio{
    margin: 10px 17px 18px 17px;
}
td,th{

}

