@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?f6fp8a');
    src:  url('../fonts/icomoon.eot?f6fp8a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f6fp8a') format('truetype'),
    url('../fonts/icomoon.woff?f6fp8a') format('woff'),
    url('../fonts/icomoon.svg?f6fp8a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuan:before {
    content: "\e900";
}
.icon-saoyisao:before {
    content: "\e901";
}
.icon-shagnchuan:before {
    content: "\e902";
}
.icon-zhiyin:before {
    content: "\e903";
}
.icon-zhuyi:before {
    content: "\e904";
}
.llgt{
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* Internet Explorer 滤镜写法*/
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    color: #ffffff;
    font-size: 50px;
    margin-top: 50px;
}
.llgt_title{
    margin: 15px;
    color: #ffFFFF;
    letter-spacing: 2px;
    font-size: 20px;
}