@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

#business_package_list>tbody>tr>td{
    padding: 0!important;
}
.btn{
    vertical-align: baseline!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

body {
    font-size: 13px;
    color: #333;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}

.ky-form-control {
    width: 260px;
    height: 34px!important;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
}
.ky-form-control:focus {
    border-color: #0193cf;
    outline: none;
}
.line {
    margin: 10px 0;
}
.line label {
    margin-left: 20px;
}
.line label:first-child {
    margin-left: 0;
}
.ml10 {
    margin-left: 10px
}
.wrap {
    height: 100%;
}
/******* 菜单栏 *******/
#leftArea {
    width: 220px;
    height: 100%;
    background: #2b333e;
}
#leftArea .logo {
    height: 100px;
    text-align: center;
    background: #323c48;
}
#leftArea .logo img {
    width: 200px;
    margin-top: 16px;
}
.sidebar-nav a {
    color: #dcdcdc;
}
.sidebar-nav a:hover,
.sidebar-nav a:focus {
    color: #f8c442;
    background: #222834;
    text-decoration: none;
}
.metismenu li.active {
    background: #222834;
}
.metismenu li.active a.firstLvMenu {
    color: #f8c442;
}
.metismenu li a.firstLvMenu {
    display: block;
    padding: 20px 20px 20px 25px;
}
.metismenu li a.firstLvMenu  i:first-child {
    width: 22px;
    margin-right: 18px;
}
.metismenu li ul li a {
    display: block;
    padding: 10px 15px 10px 66px;
}
/******* header footer *******/
.header {
    height: 60px;
    background: #f3f3f4;
    border-bottom: 1px solid #e7eaec;
}
.header h1 {
    color: #0193cf;
    font-size: 22px;
    line-height: 60px;
    padding-left: 20px;
}
.header .username {
    float: right;
    color: #0193cf;
    line-height: 60px;
    margin-right: 20px;
}
.footer {
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #e7eaec;
    border-bottom: 0px;
}

/******right*******/
#rightArea {
    height: 100%;
    margin-left: 220px;
    overflow: hidden;
}

/******* tab *******/
.content-tabs {
    position: relative;
    height: 40px;
    line-height: 38px;
    background: #fafafa;
    border-bottom: 2px solid #c8cfdd;
}
.content-tabs button {
    height: 38px;
    width: 38px;
    border: none;
    background: #fff;
    outline: none;
}
.page-tabs {
    height: 38px;
    padding-left: 38px;
    width: 100000px;
    overflow: hidden;
}
.page-tabs-content {
    float: left;
}
.page-tabs a {
    display: block;
    float: left;
    color: #0098ff;
    padding: 0 15px;
    border-right: solid 1px #eee;
}
.page-tabs a.active {
    background: #eff2f8;
    border: 1px solid #c8cfdd;
    font-weight: bold;
    line-height: 37px;
}
.roll-nav {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
}
.cxll{
    padding: 5%;
}
.content-tabs .roll-left {
    left: 0;
    border-right: solid 1px #eee;
}
.content-tabs .roll-right {
    right: 140px;
    border-left: solid 1px #eee;
}
.roll-right.btn-group {
    right: 60px;
    width: 80px;
}
.roll-right.btn-group button {
    width: 80px;
}
.roll-right.J_tabExit {
    display: block;
    right: 0px;
    background: #fff;
    height: 38px;
    width: 60px;
    outline: none;
    padding-right: 0;
    text-align: left;
}

/***bootstrap 样式修改***/

.btn-h28 {
    line-height: 18px;
    padding: 4px 8px;
}
table td,
table th {
    text-align: center;
}
table th {
    background: #ebf3fe;
}
.fixed-table-container {
    margin-top: 10px;
}

/******提示、警告、错误弹窗样式*******/
.shadowLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.1;
    z-index: 80;
}
.kyAlert,.kyError,.kySuccess {
    position: absolute;
    top: -80px;
    left: 50%;
    width: 346px;
    height: 80px;
    margin-left: -178px;
    padding: 20px 10px;
    line-height: 40px;
    font-size: 14px;
    z-index: 100;
}
.kyAlert {
    color: #8a6d3b;
    background: #fcf8e3;
    border: 1px solid #faebcc;
}
.kyError {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #ebccd1;
}
.kySuccess {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
}

/*******主要内容*******/
#content-main {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding:  2.5%;
    margin: 0 auto;
    background: #fff;
}

/*******财务管理********/
#orderNo,
#cardNo {
    width: 190px;
}
#refuseReason {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 2px 4px;
    border: 1px solid #e5e5e5;
}

/******业务管理********/
.cardInfoDetail,
.stopRestartInfo {
    margin-top: 20px;
}
#searchStopRestartInfo {
    margin-right: 40px;
}
.cardInfoLittle {
    margin: 20px 0;
}
.cardInfoLittle .line span {
    display: inline-block;
    width: 260px;
}

/*******资料管理********/
.changePassword label {
    display: inline-block;
    width: 200px;
    text-align: right;
}