body{
    width: 94%;
    margin: 0 auto;
}
.wrap   {
    margin: 20% 0 0 0;
}
img{
    width: 40%;
}
.num{
    color: black;
    font-size: 34px;
    margin: 10% 0;
    font-family: "黑体";
    font-weight: bold;
}
.text div{
    margin-bottom: 6%;
    padding-left: 10%;
}
#pay{
    margin-top: 8%;
    height: 40px;
    font-size: 16px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
